<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            Welcome {{name}}
<br>
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">DishName</label>
                    <input type="text" class="form-control" name="dish_name" [(ngModel)]="dish_name">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Ingredients</label>
                    <textarea name="ingredients"  id="" cols="30" rows="10" class="form-control" [(ngModel)]="ingredients"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
                    <button class="btn btn-info" (click)="readValue()">Submit</button>
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div *ngFor="let i of dataD" class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <div class="card text-bg-warning mb-3">
                        <div class="card-header">{{i.name}}</div>
                        <div class="card-body">
                          <h5 class="card-title">{{i.dish_name}}</h5>
                          <p class="card-text">{{i.ingredients}}</p>
                          <p class="card-text">{{i.posted_date}}</p>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
